@import url('all.css');
@import url('footer.css');
/**header**/
header{
    background: url('../img/experts/bg.svg') no-repeat;
    background-position: right 40% center;
    background-size: cover;
    height: 100%;
    padding-bottom: 70px; 
}
main{
    margin-top: 40px;
}
.news__title{
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
    margin-top: 280px;  
    position: relative;
    animation: showLeft 1s;
    z-index: 1; 
}
.menu__list-item a{
    color: #16203C;
    font-weight: 600;
}
/**main**/
.experts__section{
    position: relative;
    margin-bottom: 95px;
}
.news__link{
    margin-bottom: 90px;
}
.news__link img{
    margin: 0 10px;
}
.news__link-item1{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
    color: #949599;    
}
.news__link-item2{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
    color: #16203C;  
}
.experts__img-1{
    object-fit: contain;
    margin-right: 85px;
    margin-bottom: 10px;
}
.experts__img-2{
    object-fit: contain;
    margin-left: 85px;
    margin-bottom: 10px;
}
.experts__card-1{
    display: flex;
    justify-content: space-between;
}
.experts__card-2{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.experts__heading{
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.7;
    color: #000000;
    opacity: 0.8;
    margin-bottom: 35px;
}
.experts__info{
    width: 90%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
    opacity: 0.8;
}
.grey__figure{
    position: absolute;
    right: 0;
    top: 0;
}
.yellow__figure{
    position: absolute;
    bottom: 0;
    left: 0;
}
@media(max-width:1199px){
    .yellow__figure{
        display: none;
    } 
    .grey__figure{
        display: none;
    }
    .experts__card-1{
        display: block;
    }
    .experts__card-2{
        display: block;
    }
    .experts__img-1{
        margin-right: 40px;
        float:left;
    }
    .experts__img-2{
        float: right;
        margin-left: 40px;
    }
    .experts__info{
        width: 100%;
    }
}
@media(max-width:961px){
    .experts__img-1{
        width: 350px;
    }
    .experts__img-2{
        width: 350px;
    }
    .experts__info br{
        display: none;
    }
}
@media(max-width:767px){
    .experts__card-1{
        flex-direction: column;
        align-items: center;
    }
    .experts__img-1{
        margin-right: 0;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .experts__img-2{
        float: none;
        margin-left: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .experts__heading{
        text-align: center;
    }
    .news__link{
        margin-bottom: 66px;
    }
    .news__title{
        font-size: 48px;
    }
}
@media(max-width:425px){
    footer{
        background: url('../img/all/mobilefooter.png') no-repeat;
        background-size: cover;
        padding: 0 30px;
    }
    header{
        background: url('../img/experts/mobilebg.png') no-repeat;
        background-size: cover;
    }
    .news__title{
        font-size: 32px;
        line-height: 36px;
    }
    .experts__img-1{
        width: 100%;
    }
    .experts__img-2{
        width: 100%;
    }
}