@import url('all.css');
@import url('newsitem.css');
@import url('footer.css');
header{
    background: url('../img/news/newsbg.png') no-repeat;
    background-size: cover;
    background-position: right 40% center;
    height: 100%;
    padding-bottom: 70px; 
}
main{
    margin-top: 40px;
}
.news__title{
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
    margin-top: 280px; 
    position: relative;
    animation: showLeft 1s;
    z-index: 1; 
}
.news__item{
    width: 32%;
    height: 510px;
    background: #EDEDED;
    border-radius: 7px;
    margin-top: 40px;
    transition: all 0.3s;
}
.news__item:hover{
    transform: scale(1.05);
}
@media(max-width:565px){
    .news__item:hover{
        transform: none;
    }
}
.news__link img{
    margin: 0 10px;
}
.news__link-item1{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
    color: #949599;    
}
.news__link-item2{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
    color: #16203C;  
}
.news__btn{
    display: flex;
    margin: 0 auto;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.7;
    color: #000000;
    background: white;    
    border: none;
    margin-top: 80px;
}
.news__btn img{
    transform: rotate(70deg);
    margin-left: 10px;
}
.b-toggle {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
}
.expanded {
    max-height: 100%;
    opacity: 1;
}
footer{
    margin-top: 90px;
}
@media(max-width:961px){
    .news__item{
        width: 45%;
    }
}
@media(max-width:767px){
    header{
        background-position: right 65% center;
    }
    .news__wrapper{
        flex-direction: column;
        align-items: center;
    }
    .news__item{
        width: 90%;
        height: 100%;
    }
    .cards__img-height{
        height: 283px;
    }
    .news__title{
        font-size: 48px;
    }
}
@media(max-width:425px){
    header{
        background: url('../img/news/mobilenewsbg.png') no-repeat;
        background-size: cover;
        background-position: left center;
    }
    .news__title{
        font-size: 32px;
        line-height: 36px;
    }
    .news__item{
        width: 100%;
        height: 100%;
    }
    .cards__heading br{
        display: none;
    }
    footer{
        background: url('../img/all/mobilefooter.png') no-repeat;
        background-size: cover;
        padding: 0 30px;
    }
}