.news__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
}
.cards__img-height{
    height: 253px;
}
.cards__img1{
    background: url('../img/main/news1.png') no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 5px 5px 0 0;
}
.cards__img2{
    background: url('../img/main/news2.png') no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 5px 5px 0 0;
}
.cards__img3{
    background: url('../img/main/news3.png') no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 5px 5px 0 0;
}
.cards__date{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FFCA0A;
    border-radius: 0px 5px 0px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #16203C;
    padding: 7px 22px;
}
.cards__info{
    background: #EDEDED;
    border-radius:0 0 5px 5px;
    padding: 33px 26px 28px 26px;
}
.cards__heading {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #16203C;
    margin-bottom: 10px;
}
.cards__line {
    width: 56px;
    border-top: 1px solid #16203C;
}
.cards__desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    color: #16203C;
    margin-bottom: 25px;
}
.cards__link{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #012362;
}
@media(max-width:1330px){
    .cards__desc br{
        display: none;
    }
}
@media (max-width: 1199px){
    .cards__img-height{
        height: 200px;
    }
}