@import url('all.css');
@import url('footer.css');
header{
    background: url('../img/partners/partnersbg.svg') no-repeat;
    background-position: right 40% center;  
    background-size: cover;
    height: 100%;
    padding-bottom: 70px; 
}
main{
    margin-top: 40px;
}
.news__title{
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
    margin-top: 280px; 
    position: relative;
    animation: showLeft 1s;
    z-index: 1;  
}
.news__link img{
    margin: 0 10px;
}
.news__link-item1{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
    color: #949599;    
}
.news__link-item2{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
    color: #16203C;  
}
.partners__section{
    padding-bottom: 160px;
}
.partners__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.partners__item{
    margin-top: 80px;
    width: 48%;
    position: relative;
}
.img__abs:first-child{
    position: absolute;
    left: 0;
}
.partners__item-info{
    position: absolute;
    bottom: 0;
    padding-left: 100px;
}
.partners__text{
    width: 100%;
    margin-top: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #000000;
    opacity: 0.8;    
}
.partners__text:last-child{
    margin-top: 15px;
}
.partners__item.animation-block:nth-child(1).element-show{
    transition-delay: 0.1s;
}
.partners__item.animation-block:nth-child(2).element-show{
    transition-delay: 0.2s;
}
.partners__item.animation-block:nth-child(3).element-show{
    transition-delay: 0.25s;
}
.partners__item.animation-block:nth-child(4).element-show{
    transition-delay: 0.35;
}
@media(max-width:1199px){
    .partners__text br{
        display: none;
    }
}
@media(max-width:961px){
    .partners__wrapper{
        flex-direction: column;
        padding: 0 15px;
    }
    .img__abs{
        position: static;
        display: none;
    }
    .partners__item>img{
        display: none;
    }
    .partners__item-info{
        position: static;
        padding-left: 0;
    }
    .partners__logo{
        float: left;
        margin-right: 20px;
    }
    .partners__item{
        width: 100%;
    }
}
@media(max-width:767px){
    .news__title{
        font-size: 48px;
    }
}
@media(max-width:425px){
    header{
        background: url('../img/partners/mobilebg.png') no-repeat;
        background-size: cover;
        background-position: left 10% center;
    }
    .partners__logo {
        float: none;
    }
    footer{
        background: url('../img/all/mobilefooter.png') no-repeat;
        background-size: cover;
        padding: 0 30px;
    }
    .news__title{
        font-size: 32px;
        line-height: 36px;
    }
}